node_modules

# Environment Variables
.env
.env.*
!.env.example

# Python Caches

__pycache__/
*.pyc
.venv/
venv/
env/

# Temp Uploads
uploads/

# Next.js / Build Outputs
.next/
out/
build/
dist/

# System Configs
.DS_Store
Thumbs.db
